html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen {
  white-space: pre;
  font-size: 16px;
  line-height: 1.2;
}

body {
    background-color: black;
    color: white;
    font-family: monospace;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;

}

#game-screen {
    white-space: pre;
    padding: 20px;
}
